
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
}
.nav-items{
    display: none;
    
}
.nav-logo {
    width: 100px;
    margin-left: 50px;
}
nav img:nth-child(3) {
    display: none;
    
}
.menu-btn-img{
    width: 30px;
    margin-right: 50px;
}
/* .nav-items .nav-item{
    margin-right: 50px;
    align-items: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.nav-item.active-item{
    color: #fe5e35;
    
} */
.intro-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.left-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 50px 0 50px;
    height: 500px;
}
.left-section h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.left-section h3 img{
    width: 50px;
}

.left-section h1{
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    margin-top: 10px;
}
.sub-headlines h5{
    font-size: 20px;
}
.sub-headlines h5 img{
    background-color: #fe5e35;
    padding: 5px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: 20px;
}

.text{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
}
.action-btns{
    margin-top: 50px;
    text-align: center;
}

.action-btns .action-btn{
    background-color: #fe5e35;
    border: 1px solid #fe5e35;
    padding: 12px 20px;
    border-radius: 20px;
    color:whitesmoke;
    margin-right: 30px;
}

.right-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 60px;
}

.discount{
    position: absolute;
    width: 100px;
    left: 60px;  
    top: 880px;
}
.discount-content{
    position: absolute;
    color:#fff;
    left: 85px;  
    top: 910px;
    
}
.discount-content h4{
    font-size: 16px;
}
.headphones{
    width: 360px;
   /* position: absolute; */
   margin-left: 35px;
   
}
.dots{
   /* text-align: center; */
   margin-left: 150px;
}
.dots .dot{
    display: inline-block;
   margin-right: 20px;
}
.yellow-dot{
    border: 1px solid #f8bf05;
    background-color: #f8bf05;
    border-radius: 50px;
    padding: 10px;
    width: 1px;
}
.tomato-dot{
    border: 1px solid #fe5e35;
    background-color: #fe5e35;
    border-radius: 50px;
    padding: 10px;
    width: 1px;
}
.black-dot{
    border: 1px solid #131211;
    background-color: #131211;
    border-radius: 50px;
    padding: 10px;
    width: 1px;
}

.right-section .action-btn{
    background-color: #fe5e35;
    border: 1px solid #fe5e35;
    padding: 12px 20px;
    border-radius: 20px;
    color:whitesmoke;
    
    width: 200px;
    margin-top: 30px;
    margin-left: 110px;
}

@media screen and (min-width: 768px){
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .nav-items{
        display: flex;
        align-items: center;
    }
    
    .nav-items .nav-item{
        margin-right: 50px;
        align-items: center;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .nav-item.active-item{
        color: #fe5e35;
        
    }
    nav img:nth-child(3) {
        display: block;
        
    }
    .menu-btn {
        display: none;
    }
    .intro-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    .left-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* flex-wrap: wrap; */
        margin-left: 50px;
        flex: 50%;
    }
    .left-section h3{
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .left-section h3 img{
        width: 50px;
    }
    
    .left-section h1{
        font-size: 60px;
        font-family: 'Acme', sans-serif;
        margin-top: 10px;
    }
    .sub-headlines h5{
        font-size: 20px;
    }
    .sub-headlines h5 img{
        background-color: #fe5e35;
        padding: 5px;
        border-radius: 50px;
        margin-left: 70px;
        margin-top: 20px;
    }
    
    .text{
        margin-top: 50px;
        font-family: 'Montserrat', sans-serif;
        flex-wrap: wrap;
    }
    .action-btns{
        margin-top: 50px;
        text-align: left;
    }
    
    .action-btns .action-btn{
        background-color: #fe5e35;
        border: 1px solid #fe5e35;
        padding: 12px 20px;
        border-radius: 20px;
        color:whitesmoke;
        margin-right: 30px;
    }
    
    .right-section{
        display: flex;
        justify-content: start;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 50px;
        flex: 50%;
    }
    .headphones{
        width: 500px;
        margin-top: -60px;
    }
    .discount-content{
        position: absolute;
        top:450px;
        color: white;
        left: 740px;
    }
    .discount-content h4{
        font-size: 25px;
    }
    .discount{
        position: absolute;
        width: 150px;
        top:410px;
        left: 710px;
    }
    .dots{
       /* text-align: center; */
       margin-left: 190px;
    }
    .dots .dot{
        display: inline-block;
       margin-right: 20px;
    }
    .yellow-dot{
        border: 1px solid #f8bf05;
        background-color: #f8bf05;
        border-radius: 50px;
        padding: 10px;
        width: 1px;
    }
    .tomato-dot{
        border: 1px solid #fe5e35;
        background-color: #fe5e35;
        border-radius: 50px;
        padding: 10px;
        width: 1px;
    }
    .black-dot{
        border: 1px solid #131211;
        background-color: #131211;
        border-radius: 50px;
        padding: 10px;
        width: 1px;
    }
    
    .right-section .action-btn{
        background-color: #fe5e35;
        border: 1px solid #fe5e35;
        padding: 12px 20px;
        border-radius: 20px;
        color:whitesmoke;
        margin-right: 30px;
        width: 200px;
        margin-top: 30px;
        margin-left: 160px;
    }
}